*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.wrapper h1{
    margin-bottom: 5rem;
    font-size: 3rem;
    transition: 0.5s;
}

.wrapper i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.dark{
    background-color: black;
    color: white;
    transition: 0.5s;
}

